{% extends 'auth_base.html' %}

{% block title %} Chatbot - BioLob {% endblock %}

{% block css %}
{% load static %}
<link rel="stylesheet" href="{% static 'chatbot.css' %}">
{% endblock %}

{% block content %}

<div class="container">
  <div id="chat">

    <div class="chat-messages">
      {% for message in messages %}
      <div class="message">
        <p class="meta">{{message.sender}} <span>{{message.date|date:'M. d, H:i'}}</span></p>
        <p class="text">
          {{message.content}}
        </p>
      </div>
      {% endfor %}
    </div>

    <form method="POST" id="message-form" class="form-inline d-flex justify-content-center">
      {% csrf_token %}
      <a href="{% url 'chatbot:clear' %}"><button class="btn btn-primary mb-2 mr-sm-2"><i class="fas fa-trash-alt"></i></button></a>
      <button type="submit" name="voice" class="btn btn-primary mb-2 mr-sm-2"><i class="fas fa-microphone"></i></button>

      <label class="sr-only" for="message">Message</label>
      <input id="content" type="text" name="content" class="form-control mb-2 mr-sm-2" id="message" placeholder="Type a message" autofocus autocomplete="off">
            
      <button id="send" type="submit" class="btn btn-primary mb-2">Send <i class="fas fa-paper-plane"></i></button>
    </form>    
  </div>
</div>

<script defer>
  var navItems = document.querySelectorAll(".navigate");
  for (const item of navItems) {
    item.classList.remove("active");
  }
  var chatbotItem = document.getElementById("nav-chatbot");
  chatbotItem.classList.add("active");

  let msg_form = document.querySelector("#message-form");
  msg_form.addEventListener("submit", e => {
    e.preventDefault();
    var content = $("#content").val()
    $.ajax({
      type:"POST",
      url: "{% url 'chatbot:index' %}",
      data:{
        content: content,
        csrfmiddlewaretoken: $("input[name=csrfmiddlewaretoken]").val(),
      },
      success: function(data) {

        $(".chat-messages").append(data);
        msg_form.querySelector("#content").value = "";
        var chatMessages = document.querySelector(".chat-messages");
        chatMessages.scrollTop = chatMessages.scrollHeight;
      }
    })
  })
  var chatMessages = document.querySelector(".chat-messages");
  chatMessages.scrollTop = chatMessages.scrollHeight;
</script>
{% endblock %}

{% block footer %}
  <span></span>
{% endblock %}

